.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  /* padding: 20px; */
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.root,
.funtodone-body {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  background-color: lightgray;
}
.funtodone-navbar {
  margin-bottom:0px;
  }
.funtodone-nav {
  order: -1;
}
.funtodone-aside {
  background-color: beige;
}
.tasks-and-collections {
  display: flex;
  flex-direction: column;
}
.collections {
  background-color: yellow;

}
.tasks {
  background-color: lightgoldenrodyellow;

}

@media (min-width: 768px) {
  .funtodone-body {
    flex-direction: row;
    flex: 1;
  }
  .funtodone-content {
    flex: 1;
  }
  .funtodone-nav, .funtodone-aside {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
  
}